
/* Regular families */
.display1 {
  --line-height-ems: calc(1em * var(--step-quarter));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-sm: calc(var(--line-height-ems) * calc(1 / var(--step-half)))

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole) * var(--step-whole));
  font-weight: 400;
  line-height: var(--step-quarter);
}

.display2 {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole));
  font-weight: 400;
  line-height: var(--step-half);
}

.title1 {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-half));
  font-weight: 400;
  line-height: var(--step-half);
}

.title2 {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.02em;
  font-size: calc(1em * var(--step-whole));
  font-weight: 400;
  line-height: var(--step-half);
}

.title3 {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.017em;
  font-size: calc(1em * var(--step-half));
  font-weight: 400;
  line-height: var(--step-half);
}

.heading {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.014em;
  font-size: calc(1em * var(--step-quarter));
  font-weight: 600;
  line-height: var(--step-half);
}

.subheading {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.007em;
  font-size: calc(1em / var(--step-quarter));
  font-weight: 400;
  line-height: var(--step-half);
}

.body {
  --line-height-ems: calc(1em * var(--step-whole));
  --size-md: calc(var(--base) / var(--step-whole));
  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--base) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.011em;
  cursor: default;
  font-size: 1em;
  font-weight: 400;
  line-height: var(--step-whole);
}

.callout {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.009em;
  font-size: calc(1em / var(--step-eighth));
  font-weight: 400;
  line-height: var(--step-half);
}

.label {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.004em;
  font-size: calc((1em / var(--step-quarter)) / var(--step-eighth));
  font-weight: 600;
  line-height: var(--step-half);
  position: static;
  top: 6.235em;
}

.caption {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.007em;
  font-size: calc(1em / var(--step-half));
  font-weight: 400;
  line-height: var(--step-half);
}

.overline {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: 0.0618em;
  text-transform: uppercase;
  font-size: calc(1em / var(--step-half));
  font-weight: 400;
  line-height: var(--step-half);
}

/* Bold Families */

.display1__bold {
  --line-height-ems: calc(1em * var(--step-quarter));
  --size-md: calc(var(--base) / var(--step-whole));
  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--base) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole) * var(--step-whole));
  font-weight: 700;
  line-height: var(--step-quarter);
}

.display2__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole));
  font-weight: 700;
  line-height: var(--step-half);
}

.title1__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.022em;
  font-size: calc(1em * var(--step-whole) * var(--step-half));
  font-weight: 600;
  line-height: var(--step-half);
}

.title2__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.02em;
  font-size: calc(1em * var(--step-whole));
  font-weight: 600;
  line-height: var(--step-half);
}

.title3__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.017em;
  font-size: calc(1em * var(--step-half));
  font-weight: 600;
  line-height: var(--step-half);
}

.heading__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.014em;
  font-size: calc(1em * var(--step-quarter));
  font-weight: 700;
  line-height: var(--step-half);
}

.subheading__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.007em;
  font-size: calc(1em / var(--step-quarter));
  font-weight: 600;
  line-height: var(--step-half);
}

.body__bold {
  --line-height-ems: calc(1em * var(--step-whole));
  --size-md: calc(var(--base) / var(--step-whole));
  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--base) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.011em;
  padding: 0;
  font-size: 1em;
  font-weight: 600;
  line-height: var(--step-whole);
  position: relative;
}

.callout__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.009em;
  font-size: calc(1em / var(--step-eighth));
  font-weight: 600;
  line-height: var(--step-half);
  text-decoration: none;
}

.label__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.004em;
  font-size: calc((1em / var(--step-quarter)) / var(--step-eighth));
  font-weight: 700;
  line-height: var(--step-half);
}

.caption__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: -0.007em;
  font-size: calc(1em / var(--step-half));
  font-weight: 600;
  line-height: var(--step-half);
}

.overline__bold {
  --line-height-ems: calc(1em * var(--step-half));
  --size-md: calc(var(--line-height-ems) * var(--step-whole-dec));

  --size-sm: calc(var(--line-height-ems) * var(--step-half-dec));
  --size-xs: calc(var(--line-height-ems) * var(--step-quarter-dec));
  --size-2xs: calc(var(--line-height-ems) * var(--step-eighth-dec));

  --size-lg: calc(var(--line-height-ems) * var(--step-whole));
  --size-xl: calc(var(--size-lg) * var(--step-whole));
  --size-2xl: calc(var(--size-xl) * var(--step-whole));

  letter-spacing: 0.0618em;
  text-transform: uppercase;
  font-size: calc(1em / var(--step-half));
  font-weight: 600;
  line-height: var(--step-half);
}

@media screen and (max-width: 991px) {
  body {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  .display1__bold,
  .display1 {
    font-size: 3.3301em;
  }
}

@media screen and (max-width: 479px) {
  .display1 {
    font-size: 2.61743em;
  }

  .display1__bold {
    font-size: 2.61743em;
  }

  .display2 {
    font-size: 2.05818em;
  }

  .display2__bold {
    font-size: 2.05818em;
  }

  .title1__bold,
  .title1 {
    font-size: 1.82285em;
  }
}

.rich-text {
  color: var(--light__onsurface_lkv);
}

.rich-text h1 {
  color: var(--light__onsurface_lkv);
  letter-spacing: -0.035em;
  margin-top: 0;
  margin-bottom: 1.129em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole) * var(--step-whole));
  font-weight: 700;
  line-height: 1.129;
}

.rich-text h2 {
  letter-spacing: -0.022em;
  margin-top: 0.786096em;
  margin-bottom: 0.345984em;
  font-size: calc(1em * var(--step-whole) * var(--step-whole));
  font-weight: 700;
  line-height: var(--step-half);
}

.rich-text h3 {
  letter-spacing: -0.022em;
  margin-top: 0.786096em;
  margin-bottom: 0.345984em;
  font-size: 2.058em;
  font-weight: 600;
  line-height: var(--step-half);
}

.rich-text h4 {
  letter-spacing: -0.02em;
  margin-top: 0.786096em;
  margin-bottom: 0.345984em;
  font-size: 1.618em;
  font-weight: 600;
  line-height: var(--step-half);
}

.rich-text h5 {
  letter-spacing: -0.017em;
  margin-top: 0.786096em;
  margin-bottom: 0.345984em;
  font-size: 1.272em;
  font-weight: 600;
  line-height: var(--step-half);
}

.rich-text h6 {
  letter-spacing: -0.014em;
  margin-top: 0.786096em;
  margin-bottom: 0.345984em;
  font-size: 1.129em;
  font-weight: 600;
  line-height: var(--step-half);
}

.rich-text ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

.rich-text ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 2.618em;
  line-height: var(--step-whole);
}

.rich-text blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1.618em;
  font-size: 1em;
  line-height: var(--step-whole);
}

.rich-text p {
  color: var(--light__onsurfacevariant_lkv);
  margin-top: 1em;
  margin-bottom: 1em;
}

.rich-text a {
  color: var(--light__primary_lkv);
  font-weight: 700;
}

.rich-text figcaption {
  color: var(--light__onsurfacevariant_lkv);
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: calc(1em / var(--step-half));
  line-height: var(--step-whole);
}

.rich-text img {
  margin-top: 1em;
  margin-bottom: 11em;
}
